.card-grid {
  display: block;
  //flex-wrap: wrap;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  //justify-content: space-between;

  & > .four-piece {
    width: 20%;
    margin: 1em 2%;
    display: inline-block;
    vertical-align: top;

    @include respond-to(phone) {
      width: 40%;
      margin: 1em 4%;
    }
  }

  & > .three-piece {
    width: 26.667%;
    margin: 1em 3%;
    display: inline-block;
    vertical-align: top;

    @include respond-to(phone) {
      width: 40%;
      margin: 1em 4%;
    }
  }

  & > .two-piece {
    width: 40%;
    margin: 1em 4%;
    display: inline-block;
    vertical-align: top;

    @include respond-to(phone) {
      width: 100%;
      margin: 1em 4%;
    }
  }

}