.card-image-holder {
  width: 100%;
  padding-bottom: 80%;
  position: relative;
  overflow: hidden;

  &:hover {
    img {
      filter: brightness(60%);
    }

    .hover-action-indicator {
      transform: translateY(-50%) scale(1);
      opacity: 1;
    }
  }

  img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transition: .2s;
  }

  .hover-action-indicator {
    position: absolute;
    top: 50%;
    transition: .2s;
    transform: translateY(-50%) scale(6);
    opacity: 0;
    color: $white;
    padding: 6px 0;
    font-size: 1.2em;
    border: 2px solid $white;
    width: 70%;
    display: block;
    margin: 0 15%;
    text-align: center;
  }
}