.main-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $nav_height;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $brand_purple;
  z-index: 99000;
  background: $white;

  @include respond-to(phone) { flex-direction: row-reverse; justify-content: space-between; padding: 0 20px; }
  @include respond-to(largetablet) { flex-direction: row-reverse; justify-content: space-between; padding: 0 20px; }

  .branding {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100px;
    align-items: flex-start;

    @include respond-to(phone) { order: 2; }
    @include respond-to(largetablet) { order: 2; }

    svg {
      display: block;
      height: 60px;
      z-index: 999999;
      position: fixed;
      top: 10px;

      @include respond-to(phone) {
        width: 100px;
        height: 40px;
        left: 10px;
        position: static;
        padding-right: 15px;
      }

      @include respond-to(largetablet) {
        width: 100px;
        height: 40px;
        left: 10px;
        position: static;
        padding-right: 15px;
      }


      &:hover .coloured {
        fill: $brand_soft_purple;
      }

    }
  }

  .menu-container {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    transition: .2s;

    @include respond-to(phone) {
      justify-content: flex-start; padding-left: 15px;
      position: absolute;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      flex-direction: column;
      background: rgba(0,0,0,.5);
      transform: translate3d(-110vw,0,0);
    }

    @include respond-to(largetablet) {
      justify-content: flex-start; padding-left: 15px;
      position: absolute;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      flex-direction: column;
      background: rgba(0,0,0,.5);
      transform: translate3d(-110vw,0,0);
    }
  }

  @include respond-to(phone) {
    background: $brand_purple;
  }
  @include respond-to(largetablet) {
    background: $brand_purple;
  }

  .nav-trigger-icon {
    display: none;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    width: 50px;
    order: 2;

    @include respond-to(phone) {
      display: block;
    }

    @include respond-to(largetablet) {
      display: block;
    }
  }

  #nav-trigger {
    display: none;
    font-size: 0;
    width: 0;
  }

  .nav-trigger-close-icon {
    font-size: 3em;
    margin: 0;
    position: absolute;
    top: 0px;
    right: 15px;
    color: $white;
    display: none;

    @include respond-to(phone) {
      display: block;
    }
    @include respond-to(largetablet) {
      display: block;
    }
  }

  #nav-trigger:checked + .menu-container {
    transform: translate3d(0, 0, 0);

    .main-nav-list {
      transform: translate3d(0, 0, 0);
    }
  }

  .main-nav-list {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    order: 1;
    height: $nav_height;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;

    @include respond-to(phone) {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 300px;
      height: 100vh;
      overflow-y: scroll;
      overflow-x: hidden;
      padding-top: 60px;
      padding-bottom: 60px;
      background: $brand_dark;
      transition-duration: .3s;
      transition-timing-function: ease;
      transform: translate3d(-110vw, 0, 0);
    }

    @include respond-to(largetablet) {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 300px;
      height: 100vh;
      overflow-y: scroll;
      overflow-x: hidden;
      padding-top: 60px;
      padding-bottom: 60px;
      background: $brand_dark;
      transition-duration: .3s;
      transition-timing-function: ease;
      transform: translate3d(-110vw, 0, 0);
    }

    .nav-item {
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: auto;
      order: 8;
      padding: 0 15px 0 20px;
      color: $text_grey;
      text-transform: uppercase;
      height: $nav_height;
      display: flex;
      align-items: center;

      &.about-nav { order: 1; }
      &.articles-nav { order: 2; }
      &.gallery-nav { order: 3; }
      &.bios-nav { order: 4; }
      &.affiliates-nav { order: 5; }

      &.active {
        color: $brand_purple;
      }

      &:hover {
        color: $brand_dark;

        @include respond-to(phone) {
          color: $brand_soft_purple;
        }

        @include respond-to(largetablet) {
          color: $brand_soft_purple;
        }
      }

      @include respond-to(phone) {
        display: block;
        height: auto;
        margin-top: 20px;
        color: $brand_soft_purple;
        font-size: 1.2em;
        font-weight: 700;
      }

      @include respond-to(largetablet) {
        display: block;
        height: auto;
        margin-top: 20px;
        color: $brand_soft_purple;
        font-size: 1.2em;
        font-weight: 700;
      }

      .nav-caret {
        display: flex;
        align-items: center;
        padding-left: 8px;

        @include respond-to(phone) {
          display: none;
        }

        @include respond-to(largetablet) {
          display: none;
        }
      }
    }
  }

  .nav-item:hover .secondary-nav-list {
    transform: rotateX(0deg);
    z-index: 100;
  }

  .secondary-nav-list {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0;
    top: $nav_height;
    width: 100vw;
    height: calc(#{$nav_height} * 1.5);
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    transform-origin: top;
    transform: rotateX(90deg);
    background: $white;
    z-index: -1;
    border-bottom: 1px solid $brand_purple;

    @include respond-to(phone) {
      display: block;
      position: static;
      height: auto;
      transform: none;
      background: transparent;
      border-bottom: none;
    }

    @include respond-to(largetablet) {
      display: block;
      position: static;
      height: auto;
      transform: none;
      background: transparent;
      border-bottom: none;
    }

    .secondary-nav-item {
      padding: 0 20px;

      @include respond-to(phone) {margin: 10px 0; font-weight: 400;}
      @include respond-to(largetablet) {margin: 10px 0; font-weight: 400;}
    }
  }
}

@keyframes slideIn {
  0% {
    transform: translate3d(0, 100px, 0);
    opacity: 0;
  }
  20% {
    transform: translate3d(0, 80px, 0);
  }
  40% {
    transform: translate3d(0, 60px, 0);
  }
  60% {
    transform: translate3d(0, 40px, 0);
  }
  80% {
    transform: translate3d(0, 20px, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

