.profile-social-links {

  .social-link {
    width: 30px;
    height: 30px;
    transition: .4s;

    svg {
      width: 26px;
      height: 26px;
      transition: .4s;

      .colour-stroke {
        stroke: $brand_purple;
      }

      .colour-fill {
        fill: $brand_purple;
      }
    }

    &:hover {


      svg {

        .colour-stroke {
          stroke: $brand_soft_purple;
        }

        .colour-fill {
          fill: $brand_soft_purple;
        }
      }

    }
  }
}