@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  padding: 0;
  margin: 0; }

.spaced {
  margin: 50px auto; }

body.overlaid {
  overflow-y: hidden; }

body.stop-scrolling {
  height: 100%;
  overflow: hidden; }

.sweet-overlay {
  background-color: black;
  /* IE8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  /* IE8 */
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 10000; }

.sweet-alert {
  background-color: white;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 478px;
  padding: 17px;
  border-radius: 5px;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -256px;
  margin-top: -200px;
  overflow: hidden;
  display: none;
  z-index: 99999; }

@media all and (max-width: 540px) {
  .sweet-alert {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    left: 15px;
    right: 15px; } }

.sweet-alert h2 {
  color: #575757;
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  text-transform: none;
  position: relative;
  margin: 25px 0;
  padding: 0;
  line-height: 40px;
  display: block; }

.sweet-alert p {
  color: #797979;
  font-size: 16px;
  text-align: center;
  font-weight: 300;
  position: relative;
  text-align: inherit;
  float: none;
  margin: 0;
  padding: 0;
  line-height: normal; }

.sweet-alert fieldset {
  border: none;
  position: relative; }

.sweet-alert .sa-error-container {
  background-color: #f1f1f1;
  margin-left: -17px;
  margin-right: -17px;
  overflow: hidden;
  padding: 0 10px;
  max-height: 0;
  webkit-transition: padding 0.15s, max-height 0.15s;
  -webkit-transition: padding 0.15s, max-height 0.15s;
  transition: padding 0.15s, max-height 0.15s; }

.sweet-alert .sa-error-container.show {
  padding: 10px 0;
  max-height: 100px;
  webkit-transition: padding 0.2s, max-height 0.2s;
  -webkit-transition: padding 0.25s, max-height 0.25s;
  transition: padding 0.25s, max-height 0.25s; }

.sweet-alert .sa-error-container .icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #ea7d7d;
  color: white;
  line-height: 24px;
  text-align: center;
  margin-right: 3px; }

.sweet-alert .sa-error-container p {
  display: inline-block; }

.sweet-alert .sa-input-error {
  position: absolute;
  top: 29px;
  right: 26px;
  width: 20px;
  height: 20px;
  opacity: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: all 0.1s;
  transition: all 0.1s; }

.sweet-alert .sa-input-error::before, .sweet-alert .sa-input-error::after {
  content: "";
  width: 20px;
  height: 6px;
  background-color: #f06e57;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  left: 50%;
  margin-left: -9px; }

.sweet-alert .sa-input-error::before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.sweet-alert .sa-input-error::after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.sweet-alert .sa-input-error.show {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

.sweet-alert input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #d7d7d7;
  height: 43px;
  margin-top: 10px;
  margin-bottom: 17px;
  font-size: 18px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.06);
  padding: 0 12px;
  display: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.sweet-alert input:focus {
  outline: none;
  box-shadow: 0px 0px 3px #c4e6f5;
  border: 1px solid #b4dbed; }

.sweet-alert input:focus::-moz-placeholder {
  -webkit-transition: opacity 0.3s 0.03s ease;
  transition: opacity 0.3s 0.03s ease;
  opacity: 0.5; }

.sweet-alert input:focus:-ms-input-placeholder {
  -webkit-transition: opacity 0.3s 0.03s ease;
  transition: opacity 0.3s 0.03s ease;
  opacity: 0.5; }

.sweet-alert input:focus::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s 0.03s ease;
  transition: opacity 0.3s 0.03s ease;
  opacity: 0.5; }

.sweet-alert input::-moz-placeholder {
  color: #bdbdbd; }

.sweet-alert input:-ms-input-placeholder {
  color: #bdbdbd; }

.sweet-alert input::-webkit-input-placeholder {
  color: #bdbdbd; }

.sweet-alert.show-input input {
  display: block; }

.sweet-alert .sa-confirm-button-container {
  display: inline-block;
  position: relative; }

.sweet-alert .la-ball-fall {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -27px;
  margin-top: 4px;
  opacity: 0;
  visibility: hidden; }

.sweet-alert button {
  background-color: #8CD4F5;
  color: white;
  border: none;
  box-shadow: none;
  font-size: 17px;
  font-weight: 500;
  border-radius: 5px;
  padding: 10px 32px;
  margin: 26px 5px 0 5px;
  cursor: pointer; }

.sweet-alert button:focus {
  outline: none;
  box-shadow: 0 0 2px rgba(128, 179, 235, 0.5), inset 0 0 0 1px rgba(0, 0, 0, 0.05); }

.sweet-alert button:hover {
  background-color: #7ecff4; }

.sweet-alert button:active {
  background-color: #5dc2f1; }

.sweet-alert button.cancel {
  background-color: #C1C1C1; }

.sweet-alert button.cancel:hover {
  background-color: #b9b9b9; }

.sweet-alert button.cancel:active {
  background-color: #a8a8a8; }

.sweet-alert button.cancel:focus {
  box-shadow: rgba(197, 205, 211, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset !important; }

.sweet-alert button[disabled] {
  opacity: .6;
  cursor: default; }

.sweet-alert button.confirm[disabled] {
  color: transparent; }

.sweet-alert button.confirm[disabled] ~ .la-ball-fall {
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }

.sweet-alert button::-moz-focus-inner {
  border: 0; }

.sweet-alert[data-has-cancel-button=false] button {
  box-shadow: none !important; }

.sweet-alert[data-has-confirm-button=false][data-has-cancel-button=false] {
  padding-bottom: 40px; }

.sweet-alert .sa-icon {
  width: 80px;
  height: 80px;
  border: 4px solid gray;
  border-radius: 40px;
  border-radius: 50%;
  margin: 20px auto;
  padding: 0;
  position: relative;
  box-sizing: content-box; }

.sweet-alert .sa-icon.sa-error {
  border-color: #F27474; }

.sweet-alert .sa-icon.sa-error .sa-x-mark {
  position: relative;
  display: block; }

.sweet-alert .sa-icon.sa-error .sa-line {
  position: absolute;
  height: 5px;
  width: 47px;
  background-color: #F27474;
  display: block;
  top: 37px;
  border-radius: 2px; }

.sweet-alert .sa-icon.sa-error .sa-line.sa-left {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 17px; }

.sweet-alert .sa-icon.sa-error .sa-line.sa-right {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 16px; }

.sweet-alert .sa-icon.sa-warning {
  border-color: #F8BB86; }

.sweet-alert .sa-icon.sa-warning .sa-body {
  position: absolute;
  width: 5px;
  height: 47px;
  left: 50%;
  top: 10px;
  border-radius: 2px;
  margin-left: -2px;
  background-color: #F8BB86; }

.sweet-alert .sa-icon.sa-warning .sa-dot {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-left: -3px;
  left: 50%;
  bottom: 10px;
  background-color: #F8BB86; }

.sweet-alert .sa-icon.sa-info {
  border-color: #C9DAE1; }

.sweet-alert .sa-icon.sa-info::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 29px;
  left: 50%;
  bottom: 17px;
  border-radius: 2px;
  margin-left: -2px;
  background-color: #C9DAE1; }

.sweet-alert .sa-icon.sa-info::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-left: -3px;
  top: 19px;
  background-color: #C9DAE1; }

.sweet-alert .sa-icon.sa-success {
  border-color: #A5DC86; }

.sweet-alert .sa-icon.sa-success::before, .sweet-alert .sa-icon.sa-success::after {
  content: '';
  border-radius: 40px;
  border-radius: 50%;
  position: absolute;
  width: 60px;
  height: 120px;
  background: white;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.sweet-alert .sa-icon.sa-success::before {
  border-radius: 120px 0 0 120px;
  top: -7px;
  left: -33px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 60px 60px;
  transform-origin: 60px 60px; }

.sweet-alert .sa-icon.sa-success::after {
  border-radius: 0 120px 120px 0;
  top: -11px;
  left: 30px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0px 60px;
  transform-origin: 0px 60px; }

.sweet-alert .sa-icon.sa-success .sa-placeholder {
  width: 80px;
  height: 80px;
  border: 4px solid rgba(165, 220, 134, 0.2);
  border-radius: 40px;
  border-radius: 50%;
  box-sizing: content-box;
  position: absolute;
  left: -4px;
  top: -4px;
  z-index: 2; }

.sweet-alert .sa-icon.sa-success .sa-fix {
  width: 5px;
  height: 90px;
  background-color: white;
  position: absolute;
  left: 28px;
  top: 8px;
  z-index: 1;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.sweet-alert .sa-icon.sa-success .sa-line {
  height: 5px;
  background-color: #A5DC86;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 2; }

.sweet-alert .sa-icon.sa-success .sa-line.sa-tip {
  width: 25px;
  left: 14px;
  top: 46px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.sweet-alert .sa-icon.sa-success .sa-line.sa-long {
  width: 47px;
  right: 8px;
  top: 38px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.sweet-alert .sa-icon.sa-custom {
  background-size: contain;
  border-radius: 0;
  border: none;
  background-position: center center;
  background-repeat: no-repeat; }

/*
 * Animations
 */
@-webkit-keyframes showSweetAlert {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7); }
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05); }
  80% {
    transform: scale(0.95);
    -webkit-transform: scale(0.95); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

@keyframes showSweetAlert {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7); }
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05); }
  80% {
    transform: scale(0.95);
    -webkit-transform: scale(0.95); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

@-webkit-keyframes hideSweetAlert {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1); }
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5); } }

@keyframes hideSweetAlert {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1); }
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5); } }

@-webkit-keyframes slideFromTop {
  0% {
    top: 0%; }
  100% {
    top: 50%; } }

@keyframes slideFromTop {
  0% {
    top: 0%; }
  100% {
    top: 50%; } }

@-webkit-keyframes slideToTop {
  0% {
    top: 50%; }
  100% {
    top: 0%; } }

@keyframes slideToTop {
  0% {
    top: 50%; }
  100% {
    top: 0%; } }

@-webkit-keyframes slideFromBottom {
  0% {
    top: 70%; }
  100% {
    top: 50%; } }

@keyframes slideFromBottom {
  0% {
    top: 70%; }
  100% {
    top: 50%; } }

@-webkit-keyframes slideToBottom {
  0% {
    top: 50%; }
  100% {
    top: 70%; } }

@keyframes slideToBottom {
  0% {
    top: 50%; }
  100% {
    top: 70%; } }

.showSweetAlert[data-animation=pop] {
  -webkit-animation: showSweetAlert 0.3s;
  animation: showSweetAlert 0.3s; }

.showSweetAlert[data-animation=none] {
  -webkit-animation: none;
  animation: none; }

.showSweetAlert[data-animation=slide-from-top] {
  -webkit-animation: slideFromTop 0.3s;
  animation: slideFromTop 0.3s; }

.showSweetAlert[data-animation=slide-from-bottom] {
  -webkit-animation: slideFromBottom 0.3s;
  animation: slideFromBottom 0.3s; }

.hideSweetAlert[data-animation=pop] {
  -webkit-animation: hideSweetAlert 0.2s;
  animation: hideSweetAlert 0.2s; }

.hideSweetAlert[data-animation=none] {
  -webkit-animation: none;
  animation: none; }

.hideSweetAlert[data-animation=slide-from-top] {
  -webkit-animation: slideToTop 0.4s;
  animation: slideToTop 0.4s; }

.hideSweetAlert[data-animation=slide-from-bottom] {
  -webkit-animation: slideToBottom 0.3s;
  animation: slideToBottom 0.3s; }

@-webkit-keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px; }
  54% {
    width: 0;
    left: 1px;
    top: 19px; }
  70% {
    width: 50px;
    left: -8px;
    top: 37px; }
  84% {
    width: 17px;
    left: 21px;
    top: 48px; }
  100% {
    width: 25px;
    left: 14px;
    top: 45px; } }

@keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px; }
  54% {
    width: 0;
    left: 1px;
    top: 19px; }
  70% {
    width: 50px;
    left: -8px;
    top: 37px; }
  84% {
    width: 17px;
    left: 21px;
    top: 48px; }
  100% {
    width: 25px;
    left: 14px;
    top: 45px; } }

@-webkit-keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px; }
  65% {
    width: 0;
    right: 46px;
    top: 54px; }
  84% {
    width: 55px;
    right: 0px;
    top: 35px; }
  100% {
    width: 47px;
    right: 8px;
    top: 38px; } }

@keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px; }
  65% {
    width: 0;
    right: 46px;
    top: 54px; }
  84% {
    width: 55px;
    right: 0px;
    top: 35px; }
  100% {
    width: 47px;
    right: 8px;
    top: 38px; } }

@-webkit-keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); } }

@keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); } }

.animateSuccessTip {
  -webkit-animation: animateSuccessTip 0.75s;
  animation: animateSuccessTip 0.75s; }

.animateSuccessLong {
  -webkit-animation: animateSuccessLong 0.75s;
  animation: animateSuccessLong 0.75s; }

.sa-icon.sa-success.animate::after {
  -webkit-animation: rotatePlaceholder 4.25s ease-in;
  animation: rotatePlaceholder 4.25s ease-in; }

@-webkit-keyframes animateErrorIcon {
  0% {
    transform: rotateX(100deg);
    -webkit-transform: rotateX(100deg);
    opacity: 0; }
  100% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    opacity: 1; } }

@keyframes animateErrorIcon {
  0% {
    transform: rotateX(100deg);
    -webkit-transform: rotateX(100deg);
    opacity: 0; }
  100% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    opacity: 1; } }

.animateErrorIcon {
  -webkit-animation: animateErrorIcon 0.5s;
  animation: animateErrorIcon 0.5s; }

@-webkit-keyframes animateXMark {
  0% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  50% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  80% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    margin-top: -6px; }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    margin-top: 0;
    opacity: 1; } }

@keyframes animateXMark {
  0% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  50% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  80% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    margin-top: -6px; }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    margin-top: 0;
    opacity: 1; } }

.animateXMark {
  -webkit-animation: animateXMark 0.5s;
  animation: animateXMark 0.5s; }

@-webkit-keyframes pulseWarning {
  0% {
    border-color: #F8D486; }
  100% {
    border-color: #F8BB86; } }

@keyframes pulseWarning {
  0% {
    border-color: #F8D486; }
  100% {
    border-color: #F8BB86; } }

.pulseWarning {
  -webkit-animation: pulseWarning 0.75s infinite alternate;
  animation: pulseWarning 0.75s infinite alternate; }

@-webkit-keyframes pulseWarningIns {
  0% {
    background-color: #F8D486; }
  100% {
    background-color: #F8BB86; } }

@keyframes pulseWarningIns {
  0% {
    background-color: #F8D486; }
  100% {
    background-color: #F8BB86; } }

.pulseWarningIns {
  -webkit-animation: pulseWarningIns 0.75s infinite alternate;
  animation: pulseWarningIns 0.75s infinite alternate; }

@-webkit-keyframes rotate-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotate-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/* Internet Explorer 9 has some special quirks that are fixed here */
/* The icons are not animated. */
/* This file is automatically merged into sweet-alert.min.js through Gulp */
/* Error icon */
.sweet-alert .sa-icon.sa-error .sa-line.sa-left {
  -ms-transform: rotate(45deg) \9; }

.sweet-alert .sa-icon.sa-error .sa-line.sa-right {
  -ms-transform: rotate(-45deg) \9; }

/* Success icon */
.sweet-alert .sa-icon.sa-success {
  border-color: transparent\9; }

.sweet-alert .sa-icon.sa-success .sa-line.sa-tip {
  -ms-transform: rotate(45deg) \9; }

.sweet-alert .sa-icon.sa-success .sa-line.sa-long {
  -ms-transform: rotate(-45deg) \9; }

/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
.la-ball-fall,
.la-ball-fall > div {
  position: relative;
  box-sizing: border-box; }

.la-ball-fall {
  display: block;
  font-size: 0;
  color: #fff; }

.la-ball-fall.la-dark {
  color: #333; }

.la-ball-fall > div {
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor; }

.la-ball-fall {
  width: 54px;
  height: 18px; }

.la-ball-fall > div {
  width: 10px;
  height: 10px;
  margin: 4px;
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: ball-fall 1s ease-in-out infinite;
  animation: ball-fall 1s ease-in-out infinite; }

.la-ball-fall > div:nth-child(1) {
  -webkit-animation-delay: -200ms;
  animation-delay: -200ms; }

.la-ball-fall > div:nth-child(2) {
  -webkit-animation-delay: -100ms;
  animation-delay: -100ms; }

.la-ball-fall > div:nth-child(3) {
  -webkit-animation-delay: 0ms;
  animation-delay: 0ms; }

.la-ball-fall.la-sm {
  width: 26px;
  height: 8px; }

.la-ball-fall.la-sm > div {
  width: 4px;
  height: 4px;
  margin: 2px; }

.la-ball-fall.la-2x {
  width: 108px;
  height: 36px; }

.la-ball-fall.la-2x > div {
  width: 20px;
  height: 20px;
  margin: 8px; }

.la-ball-fall.la-3x {
  width: 162px;
  height: 54px; }

.la-ball-fall.la-3x > div {
  width: 30px;
  height: 30px;
  margin: 12px; }

/*
 * Animation
 */
@-webkit-keyframes ball-fall {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-145%);
    transform: translateY(-145%); }
  10% {
    opacity: .5; }
  20% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  80% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  90% {
    opacity: .5; }
  100% {
    opacity: 0;
    -webkit-transform: translateY(145%);
    transform: translateY(145%); } }

@keyframes ball-fall {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-145%);
    transform: translateY(-145%); }
  10% {
    opacity: .5; }
  20% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  80% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  90% {
    opacity: .5; }
  100% {
    opacity: 0;
    -webkit-transform: translateY(145%);
    transform: translateY(145%); } }

.spinner {
  margin: 0 auto;
  width: 100%;
  max-width: 70px;
  text-align: center; }

.spinner > div {
  width: 25.714%;
  background-color: #ffffff;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both; }

.spinner > div:after {
  content: '';
  display: block;
  padding-bottom: 100%; }

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

.main-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  border-bottom: 1px solid #803EA0;
  z-index: 99000;
  background: #ffffff; }
  @media only screen and (max-width: 719px) {
    .main-navbar {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      flex-direction: row-reverse;
      -webkit-box-pack: justify;
      justify-content: space-between;
      padding: 0 20px; } }
  .main-navbar .branding {
    display: -webkit-box;
    display: flex;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100px;
    -webkit-box-align: start;
    align-items: flex-start; }
    @media only screen and (max-width: 719px) {
      .main-navbar .branding {
        -webkit-box-ordinal-group: 3;
        order: 2; } }
    .main-navbar .branding svg {
      display: block;
      height: 60px;
      z-index: 999999;
      position: fixed;
      top: 10px; }
      @media only screen and (max-width: 719px) {
        .main-navbar .branding svg {
          width: 100px;
          height: 40px;
          left: 10px;
          position: static;
          padding-right: 15px; } }
      .main-navbar .branding svg:hover .coloured {
        fill: #B574D5; }
  .main-navbar .menu-container {
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    padding-right: 20px;
    -webkit-transition: .2s;
    transition: .2s; }
    @media only screen and (max-width: 719px) {
      .main-navbar .menu-container {
        -webkit-box-pack: start;
        justify-content: flex-start;
        padding-left: 15px;
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.5);
        -webkit-transform: translate3d(-110vw, 0, 0);
        transform: translate3d(-110vw, 0, 0); } }
  @media only screen and (max-width: 719px) {
    .main-navbar {
      background: #803EA0; } }
  .main-navbar .nav-trigger-icon {
    display: none;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    width: 50px;
    -webkit-box-ordinal-group: 3;
    order: 2; }
    @media only screen and (max-width: 719px) {
      .main-navbar .nav-trigger-icon {
        display: block; } }
  .main-navbar #nav-trigger {
    display: none;
    font-size: 0;
    width: 0; }
  .main-navbar .nav-trigger-close-icon {
    font-size: 3em;
    margin: 0;
    position: absolute;
    top: 0px;
    right: 15px;
    color: #ffffff;
    display: none; }
    @media only screen and (max-width: 719px) {
      .main-navbar .nav-trigger-close-icon {
        display: block; } }
  .main-navbar #nav-trigger:checked + .menu-container {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
    .main-navbar #nav-trigger:checked + .menu-container .main-nav-list {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
  .main-navbar .main-nav-list {
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    -webkit-box-ordinal-group: 2;
    order: 1;
    height: 60px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
    list-style-type: none;
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0; }
    @media only screen and (max-width: 719px) {
      .main-navbar .main-nav-list {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 300px;
        height: 100vh;
        overflow-y: scroll;
        overflow-x: hidden;
        padding-top: 60px;
        padding-bottom: 60px;
        background: #27363B;
        -webkit-transition-duration: .3s;
        transition-duration: .3s;
        -webkit-transition-timing-function: ease;
        transition-timing-function: ease;
        -webkit-transform: translate3d(-110vw, 0, 0);
        transform: translate3d(-110vw, 0, 0); } }
    .main-navbar .main-nav-list .nav-item {
      -webkit-box-flex: 0;
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: auto;
      padding: 0 15px 0 20px;
      color: #6A6C6E;
      text-transform: uppercase;
      height: 60px;
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center; }
      .main-navbar .main-nav-list .nav-item.active {
        color: #803EA0; }
      .main-navbar .main-nav-list .nav-item:hover {
        color: #27363B; }
        @media only screen and (max-width: 719px) {
          .main-navbar .main-nav-list .nav-item:hover {
            color: #B574D5; } }
      @media only screen and (max-width: 719px) {
        .main-navbar .main-nav-list .nav-item {
          display: block;
          height: auto;
          margin-top: 20px;
          color: #B574D5;
          font-size: 1.2em;
          font-weight: 700; } }
      .main-navbar .main-nav-list .nav-item .nav-caret {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        padding-left: 8px; }
        @media only screen and (max-width: 719px) {
          .main-navbar .main-nav-list .nav-item .nav-caret {
            display: none; } }
  .main-navbar .nav-item:hover .secondary-nav-list {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    z-index: 100; }
  .main-navbar .secondary-nav-list {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0;
    top: 60px;
    width: 100vw;
    height: calc(60px * 1.5);
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    list-style-type: none;
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
    background: #ffffff;
    z-index: -1;
    border-bottom: 1px solid #803EA0; }
    @media only screen and (max-width: 719px) {
      .main-navbar .secondary-nav-list {
        display: block;
        position: static;
        height: auto;
        -webkit-transform: none;
        transform: none;
        background: transparent;
        border-bottom: none; } }
    .main-navbar .secondary-nav-list .secondary-nav-item {
      padding: 0 20px; }
      @media only screen and (max-width: 719px) {
        .main-navbar .secondary-nav-list .secondary-nav-item {
          margin: 10px 0;
          font-weight: 400; } }

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0);
    opacity: 0; }
  20% {
    -webkit-transform: translate3d(0, 80px, 0);
    transform: translate3d(0, 80px, 0); }
  40% {
    -webkit-transform: translate3d(0, 60px, 0);
    transform: translate3d(0, 60px, 0); }
  60% {
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0); }
  80% {
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
    opacity: 1; }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes slideIn {
  0% {
    -webkit-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0);
    opacity: 0; }
  20% {
    -webkit-transform: translate3d(0, 80px, 0);
    transform: translate3d(0, 80px, 0); }
  40% {
    -webkit-transform: translate3d(0, 60px, 0);
    transform: translate3d(0, 60px, 0); }
  60% {
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0); }
  80% {
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
    opacity: 1; }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

body {
  padding-top: 60px;
  color: #27363B;
  font-size: 16px;
  font-family: "Noto Serif", sans-serif; }

.page-divider {
  width: 80vw;
  margin: 40px auto; }

a, a:visited, a:focus, a:hover {
  text-decoration: none;
  color: inherit; }

.heavy-heading {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  text-transform: uppercase; }

.heavy-text {
  font-family: "Oswald", sans-serif;
  font-weight: 700; }

.light-heading {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-style: italic; }

.body-text {
  font-family: "Noto Serif", sans-serif; }

.serif-text {
  font-family: "Noto Serif", serif; }

.white-text {
  color: #ffffff; }

.purple-text {
  color: #803EA0; }

.soft-purple-text {
  color: #B574D5; }

.centered-text {
  text-align: center; }

.page-intro {
  text-align: center;
  font-family: "Noto Serif", serif;
  font-size: 2em;
  max-width: 800px;
  margin: 80px auto; }

.constrained-text {
  max-width: 800px;
  margin: 1em auto; }

.page-section {
  padding: 50px 0;
  border-bottom: 2px solid #27363B; }
  .page-section:last-of-type {
    border-bottom: none; }
  .page-section .section-heading {
    font-size: 3em;
    margin-top: 0; }

.card-grid {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  -webkit-box-pack: justify;
  justify-content: space-between; }

.main-footer {
  width: 100%;
  display: -webkit-box;
  display: flex;
  min-height: 400px;
  background: #27363B;
  margin-top: 100px;
  padding: 40px 0; }
  @media only screen and (max-width: 719px) {
    .main-footer {
      flex-wrap: wrap; } }
  .main-footer p {
    color: #D0AEE2; }
  .main-footer .contact-detail {
    margin: 0; }
  .main-footer .footer-header {
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
    color: #B574D5;
    margin-bottom: 0; }
  .main-footer .footer-column {
    width: 33%;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    -webkit-box-ordinal-group: 4;
    order: 3;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column; }
    .main-footer .footer-column .footer-column-block {
      text-align: center;
      min-height: 250px; }
    @media only screen and (max-width: 719px) {
      .main-footer .footer-column {
        width: 100%; } }
  .main-footer .branding-column svg {
    max-width: 80%;
    height: 90px;
    margin-top: 40px; }
  .main-footer .branding-column .footer-definition {
    color: #D0AEE2;
    border: 2px solid;
    padding: 20px;
    max-width: 80%;
    margin: 50px 0; }
  @media only screen and (max-width: 719px) {
    .main-footer .contact-column {
      -webkit-box-ordinal-group: 2;
      order: 1; } }
  @media only screen and (max-width: 719px) {
    .main-footer .quicklinks-column {
      -webkit-box-ordinal-group: 3;
      order: 2; } }
  .main-footer .footer-links-list {
    color: #D0AEE2;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center; }
    .main-footer .footer-links-list li {
      font-family: "Noto Serif", serif; }
      .main-footer .footer-links-list li:hover {
        color: #ffffff; }
  .main-footer .footer-social-icons {
    padding-top: 20px; }
  .main-footer .footer-social-icons a svg {
    height: 40px;
    width: 40px;
    margin: 5px; }
  .main-footer .footer-social-icons a svg .colour-fill {
    fill: #B574D5; }
  .main-footer .footer-social-icons a svg .colour-stroke {
    stroke: #B574D5; }
  .main-footer .footer-social-icons a:hover svg .colour-fill {
    fill: #ffffff; }
  .main-footer .footer-social-icons a:hover svg .colour-stroke {
    stroke: #ffffff; }

.card-image-holder {
  width: 100%;
  padding-bottom: 80%;
  position: relative;
  overflow: hidden; }
  .card-image-holder.rounded:hover::after {
    border-radius: 50%; }
  .card-image-holder:hover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    background: #803EA0;
    opacity: .8;
    pointer-events: none; }
  .card-image-holder:hover .hover-action-indicator {
    opacity: 1; }
  .card-image-holder img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0; }
  .card-image-holder .hover-action-indicator {
    position: absolute;
    top: 50%;
    -webkit-transition: .7s;
    transition: .7s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    opacity: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #ffffff;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    padding: 6px 0;
    font-size: 2em;
    width: 70%;
    display: block;
    margin: 0 15%;
    text-align: center;
    z-index: 9999; }

.contributor-card {
  display: -webkit-box;
  display: flex;
  max-width: 700px;
  margin: 0 auto 50px;
  padding: 20px 15px;
  border-top: 2px solid #C3C6C9;
  border-bottom: 2px solid #C3C6C9; }
  @media only screen and (max-width: 719px) {
    .contributor-card {
      flex-wrap: wrap; } }
  .contributor-card .contributor-card-profile-pic-box {
    width: 90px;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto; }
    .contributor-card .contributor-card-profile-pic-box img {
      width: 100%;
      border-radius: 50%; }
      .contributor-card .contributor-card-profile-pic-box img:hover {
        border: 1px solid #B574D5; }
  .contributor-card .contributor-card-name-and-title {
    padding: 0 25px;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto; }
    .contributor-card .contributor-card-name-and-title .contributor-name {
      margin: 5px 0 0 0; }
      .contributor-card .contributor-card-name-and-title .contributor-name:hover {
        color: #B574D5; }
    .contributor-card .contributor-card-name-and-title p {
      margin: 0; }
  .contributor-card .contributor-card-intro {
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto; }
    .contributor-card .contributor-card-intro p {
      color: #6A6C6E;
      margin-top: 5px;
      font-size: 90%; }

.dd-btn {
  border: 2px solid;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  width: 200px;
  text-transform: capitalize;
  text-align: center;
  padding: 5px 15px;
  -webkit-transition: .5s;
  transition: .5s;
  background: transparent;
  font-size: 1em;
  text-transform: uppercase; }
  .dd-btn:hover, .dd-btn.alt-state {
    color: #803EA0;
    -webkit-transform: scale(1.05);
    transform: scale(1.05); }

.dd-btn.block {
  display: block;
  margin: 1em auto; }

.dd-block-btn-group {
  text-align: center;
  padding: 50px 0; }
  .dd-block-btn-group .dd-btn {
    margin: 1em; }

.top-page-header {
  width: 100%;
  height: 30vw;
  position: relative;
  margin-bottom: 50px; }
  .top-page-header h1 {
    font-size: 4em;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    color: #803EA0; }

.profile-social-links .social-link {
  width: 30px;
  height: 30px;
  -webkit-transition: .4s;
  transition: .4s; }
  .profile-social-links .social-link svg {
    width: 26px;
    height: 26px;
    -webkit-transition: .4s;
    transition: .4s; }
    .profile-social-links .social-link svg .colour-stroke {
      stroke: #803EA0; }
    .profile-social-links .social-link svg .colour-fill {
      fill: #803EA0; }
  .profile-social-links .social-link:hover svg .colour-stroke {
    stroke: #B574D5; }
  .profile-social-links .social-link:hover svg .colour-fill {
    fill: #B574D5; }

.dd-lightbox {
  position: relative;
  width: auto;
  margin: 0; }
  .dd-lightbox .close-lightbox-btn {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 40px;
    color: #ffffff;
    cursor: default; }
    .dd-lightbox .close-lightbox-btn:hover {
      color: #B574D5; }
  .dd-lightbox img {
    width: 200px; }
  .dd-lightbox.open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999999; }
    .dd-lightbox.open .hover-action-indicator {
      display: none; }
    .dd-lightbox.open.card-image-holder:hover::after {
      display: none; }
    .dd-lightbox.open img {
      -webkit-filter: none;
      filter: none; }
    .dd-lightbox.open .close-lightbox-btn {
      display: block; }
    .dd-lightbox.open img {
      width: auto;
      max-width: 80vw;
      max-height: 85vh; }
  .dd-lightbox .lightbox-title {
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    font-size: 1.2em;
    text-transform: capitalize; }
  .dd-lightbox .lightbox-nav-arrow {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #ffffff;
    font-size: 2em;
    cursor: default; }
    .dd-lightbox .lightbox-nav-arrow:hover {
      color: #B574D5; }
  .dd-lightbox .dd-next-arrow {
    right: 20px; }
  .dd-lightbox .dd-prev-arrow {
    left: 20px; }
  .dd-lightbox .main-lightbox-gallery img {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 80vw;
    max-height: 85vh; }

.slide-fade-enter-active {
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

.slide-fade-leave {
  -webkit-transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1); }

.slide-fade-enter, .slide-fade-leave-active {
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
  opacity: 0; }

.spinner > div {
  background: #B574D5; }

.loaded-content .dd-btn > span {
  -webkit-transition: 0;
  transition: 0; }

section.cover-splash {
  width: 100%;
  height: 40vw;
  position: relative;
  overflow: hidden; }
  @media only screen and (max-width: 719px) {
    section.cover-splash {
      height: 100vw; } }
  section.cover-splash img {
    width: 100%;
    max-height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1);
    -webkit-filter: brightness(60%);
    filter: brightness(60%); }
  section.cover-splash .cover-headline {
    position: absolute;
    top: 10%;
    left: 100px;
    width: 8em;
    font-size: 4em;
    margin: 0;
    line-height: 1.4; }
    @media only screen and (max-width: 719px) {
      section.cover-splash .cover-headline {
        font-size: 3em;
        left: 15px;
        width: 95%;
        margin: 0 auto;
        position: static; } }
  section.cover-splash .cover-link {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 30px;
    border: 4px solid #ffffff;
    padding: 4px 8px;
    font-size: 1.5em;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    -webkit-transition: .5s;
    transition: .5s; }
    section.cover-splash .cover-link:hover {
      -webkit-transform: translateX(-50%) scale(1.1);
      transform: translateX(-50%) scale(1.1); }

.article-index-card {
  width: 250px;
  margin: 1em 2em; }
  @media only screen and (max-width: 719px) {
    .article-index-card.far-from-top {
      display: none; } }
  @media only screen and (max-width: 719px) {
    .article-index-card {
      width: 40%;
      margin: 1em auto; } }
  .article-index-card .article-index-card-category {
    color: #803EA0;
    margin: 0 0 4px 0; }
    .article-index-card .article-index-card-category:hover {
      color: #B574D5; }
  .article-index-card .article-index-card-headline {
    margin: 4px 0 0; }
  .article-index-card .article-index-card-author {
    margin: 0 0 4px; }
    .article-index-card .article-index-card-author:hover {
      color: #B574D5; }
  .article-index-card .article-index-card-description {
    color: #6A6C6E;
    line-height: 1.4;
    margin-top: 8px; }
    @media only screen and (max-width: 719px) {
      .article-index-card .article-index-card-description {
        display: none; } }

.media-image-card {
  width: 200px;
  margin: 1em; }
  @media only screen and (max-width: 719px) {
    .media-image-card {
      width: 40%; } }
  .media-image-card:last-of-type {
    margin-right: auto;
    margin-left: calc((960px - (800px + 5em)) / 3); }
  .media-image-card img {
    max-width: 100%; }
  .media-image-card .media-image-card-title {
    margin: 4px;
    margin-bottom: 0; }
  .media-image-card .media-image-card-contributor {
    margin: 4px;
    margin-top: 0;
    color: #803EA0;
    font-style: italic; }

.video-card {
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 40%;
  width: auto;
  margin: 2em; }
  .video-card .video-aspect-container {
    position: relative;
    width: 100%;
    padding-bottom: 62%;
    overflow: hidden; }
    .video-card .video-aspect-container iframe, .video-card .video-aspect-container img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .video-card .video-card-title {
    margin: 4px;
    margin-bottom: 0; }
  .video-card .video-card-contributor {
    margin: 4px;
    margin-top: 0;
    color: #803EA0;
    font-style: italic; }
    .video-card .video-card-contributor:hover {
      color: #B574D5; }

.bio-card {
  width: 200px;
  margin: 3em 2em 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column; }
  @media only screen and (max-width: 719px) {
    .bio-card {
      width: 95%;
      margin: 2em auto;
      -webkit-box-align: center;
      align-items: center; }
      .bio-card .bio-card-name {
        -webkit-box-ordinal-group: 2;
        order: 1;
        width: 100%;
        flex-basis: 100%;
        text-align: center; }
      .bio-card p.bio-card-contributor-title {
        -webkit-box-ordinal-group: 3;
        order: 2;
        width: 100%;
        flex-basis: 100%;
        margin: 0 0 20px 0;
        text-align: center; }
      .bio-card .bio-image-and-link {
        -webkit-box-ordinal-group: 4;
        order: 3;
        width: 25%;
        flex-basis: 25%; }
      .bio-card .bio-card-bio {
        -webkit-box-ordinal-group: 5;
        order: 4;
        width: 95%;
        flex-basis: 95%;
        text-align: center; }
      .bio-card .profile-social-links {
        width: 100%;
        flex-basis: 100%;
        text-align: center; } }
  .bio-card > * {
    -webkit-box-flex: 1;
    flex: 1;
    -webkit-box-ordinal-group: 6;
    order: 5; }
  .bio-card:nth-child(1) {
    margin-top: 0; }
  .bio-card:nth-child(2) {
    margin-top: 0; }
  .bio-card:nth-child(3) {
    margin-top: 0; }
  .bio-card .card-image-holder {
    width: 80%;
    padding-bottom: 80%;
    margin: 0 auto 20px; }
    .bio-card .card-image-holder img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-transition: .2s;
      transition: .2s; }
  .bio-card img {
    border-radius: 50%; }
  .bio-card .bio-card-name {
    margin: 4px 0 0; }
  .bio-card .bio-card-contributor-title {
    margin: 0;
    color: #803EA0;
    font-style: italic;
    text-transform: capitalize; }
  .bio-card .bio-card-bio {
    color: #6A6C6E;
    margin-top: 5px; }

.affiliate-card {
  width: 180px;
  margin: 1.5em; }
  @media only screen and (max-width: 719px) {
    .affiliate-card {
      width: 40%;
      margin: 1em; } }
  .affiliate-card img {
    width: 100%; }
  .affiliate-card .affiliate-card-name {
    margin: 0; }

.article-header {
  margin-top: 80px; }
  .article-header .article-header-category {
    margin: 50px 0 5px; }
  .article-header .article-header-title {
    font-size: 3em;
    margin-top: 15px;
    margin-bottom: 15px; }
  .article-header .article-header-date-and-contributor {
    margin-top: 5px;
    color: #6A6C6E;
    font-style: italic; }
  .article-header .social-sharing-icons {
    text-align: center; }
    .article-header .social-sharing-icons svg {
      height: 40px;
      width: 40px;
      margin: 5px; }
      .article-header .social-sharing-icons svg:hover .colour-stroke {
        stroke: #B574D5; }
      .article-header .social-sharing-icons svg:hover .colour-fill {
        fill: #B574D5; }
      .article-header .social-sharing-icons svg .colour-stroke {
        stroke: #803EA0; }
      .article-header .social-sharing-icons svg .colour-fill {
        fill: #803EA0; }

.article-container .article-body {
  max-width: 800px;
  padding: 40px 15px 15px;
  margin: 0 auto;
  font-size: 1.2em;
  line-height: 1.8; }
  .article-container .article-body img {
    max-width: 100%; }
  .article-container .article-body blockquote {
    font-size: 1.2em;
    color: #C3C6C9;
    position: relative;
    padding: 30px 0 30px 35px;
    font-style: italic; }
    .article-container .article-body blockquote:before {
      content: '';
      background: url(../../images/quotes.svg);
      background-repeat: no-repeat;
      background-size: contain;
      top: 30px;
      left: -10px;
      position: absolute;
      width: 40px;
      height: 40px; }

.article-container .dd-block-btn-group {
  margin-bottom: 50px; }

.articles-banner {
  background: url(../../images/banners/articles.jpg);
  background-size: cover; }

.article-index-card:last-of-type {
  margin-right: auto; }
  @media only screen and (max-width: 719px) {
    .article-index-card:last-of-type {
      margin-right: 2em; } }

.article-tags .tag-icon {
  -webkit-transform: rotate(-45deg) translateY(10px);
  transform: rotate(-45deg) translateY(10px); }
  .article-tags .tag-icon path.colour {
    fill: #803EA0; }

.article-tags .tag-list {
  width: 95%;
  max-width: 800px;
  margin: 1em auto; }
  .article-tags .tag-list .tag-link {
    color: #B574D5;
    margin: 0 1em;
    vertical-align: middle; }

.tag-articles-banner {
  background: url(../../images/banners/about.jpeg);
  background-size: cover; }

.bio-main-section {
  display: -webkit-box;
  display: flex;
  width: 100%;
  max-width: 1100px;
  margin: 40px auto;
  padding-top: 50px; }
  @media only screen and (max-width: 719px) {
    .bio-main-section {
      flex-wrap: wrap; } }
  .bio-main-section .profile-pic-box {
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    width: 50%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center; }
    @media only screen and (max-width: 719px) {
      .bio-main-section .profile-pic-box {
        width: 100%; } }
    .bio-main-section .profile-pic-box img {
      width: 90%;
      max-width: 400px;
      border-radius: 50%; }
      @media only screen and (max-width: 719px) {
        .bio-main-section .profile-pic-box img {
          width: 100px; } }
  .bio-main-section .bio-info-box {
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    width: 50%;
    padding: 0 20px; }
    @media only screen and (max-width: 719px) {
      .bio-main-section .bio-info-box {
        width: 100%; } }
    .bio-main-section .bio-info-box .profile-name {
      font-size: 3em;
      margin: 0;
      margin-bottom: -10px; }
      @media only screen and (max-width: 719px) {
        .bio-main-section .bio-info-box .profile-name {
          text-align: center; } }
    .bio-main-section .bio-info-box .profile-title {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 1.2em;
      font-style: italic; }
      @media only screen and (max-width: 719px) {
        .bio-main-section .bio-info-box .profile-title {
          text-align: center; } }

.bio-social-links {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px; }
  .bio-social-links .bio-social-link {
    width: 30px;
    height: 30px;
    text-align: center;
    display: inline-block;
    margin: 5px; }
    .bio-social-links .bio-social-link:hover svg .colour-fill {
      fill: #B574D5; }
    .bio-social-links .bio-social-link:hover svg .colour-stroke {
      stroke: #B574D5; }
    .bio-social-links .bio-social-link svg {
      width: 30px;
      height: 30px; }

.bio-article-listing {
  padding-top: 50px; }
  .bio-article-listing .section-title {
    margin: 90px 0 60px; }

.bios-banner {
  background: url(../../images/poolside.jpg);
  background-size: cover; }

.contributions-listing {
  margin-bottom: 80px; }

.bio-article-listing .section-title {
  margin: 0 auto; }

.large-affiliate-card {
  width: 400px;
  margin: 2em 1em; }
  .large-affiliate-card .affiliate-name {
    margin: 0; }
  .large-affiliate-card .affiliate-address {
    margin: 4px 0;
    color: #6A6C6E; }
  .large-affiliate-card .affiliate-website {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    margin: 0; }
    .large-affiliate-card .affiliate-website:hover {
      color: #B574D5; }

.affiliates-banner {
  background: url(../../images/banners/affiliates.jpg);
  background-size: cover; }

.affiliate-page {
  width: 95%;
  max-width: 960px;
  margin: 0 auto; }
  .affiliate-page .affiliate-name {
    margin-top: 30px; }
  .affiliate-page .affiliate-address {
    color: #6A6C6E; }
  .affiliate-page .affiliate-website a:hover {
    color: #B574D5; }
  .affiliate-page .affiliate-main-image {
    display: block;
    max-width: 250px;
    border-radius: 50%;
    margin: 50px auto 0; }

.gallery-banner {
  background: url(../../images/banners/gallery.jpg);
  background-size: cover; }

.videos-banner {
  background: url(../../images/banners/gallery.jpg);
  background-size: cover; }

.video-show-main-block {
  display: block;
  margin: 50px auto;
  text-align: center; }
  .video-show-main-block iframe {
    max-width: 100%; }

.video-description {
  margin-bottom: 50px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto; }

.contact-section .contact-form {
  max-width: 700px;
  margin: 0 auto;
  position: relative;
  overflow: hidden; }
  .contact-section .contact-form .form-group {
    margin-bottom: 20px; }
  .contact-section .contact-form input, .contact-section .contact-form textarea {
    display: inline-block;
    width: 100%;
    font-size: 1em;
    font-family: "Noto Serif", sans-serif;
    border: 1px solid #6A6C6E; }
  .contact-section .contact-form input {
    height: 32px;
    padding-left: 5px; }
  .contact-section .contact-form textarea {
    height: 120px;
    resize: none;
    padding: 5px; }
  .contact-section .contact-form label {
    font-family: "Oswald", sans-serif;
    color: #803EA0;
    font-weight: 700; }
  .contact-section .contact-form .success-panel {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    -webkit-transition: .3s ease-in;
    transition: .3s ease-in;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    background: #ffffff;
    color: #803EA0; }
    .contact-section .contact-form .success-panel p {
      padding: 80px 0;
      text-align: center; }

.contact-section .contact-form.spent .success-panel {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.contact-section .submit-group {
  height: 50px;
  position: relative; }
  .contact-section .submit-group .sending-message {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }

.contact-section .slide-fade-enter-active {
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }

.contact-section .slide-fade-leave-active {
  -webkit-transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1); }

.contact-section .slide-fade-enter, .contact-section .slide-fade-leave-to {
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
  opacity: 0; }

.contact-section .fade-in-enter-active {
  -webkit-transition: all .7s ease;
  transition: all .7s ease;
  -webkit-transition-delay: 1s;
  transition-delay: 1s; }

.contact-section .fade-in-leave-active {
  -webkit-transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1); }

.contact-section .fade-in-enter, .contact-section .fade-in-leave-to, .contact-section .fade-in-leave-active {
  opacity: 0; }

.about-page-section.page-section {
  border-bottom: none;
  padding-bottom: 0; }

.about-page-section .about-section {
  font-family: "Noto Serif", sans-serif;
  max-width: 800px;
  width: 95%;
  margin: 0 auto; }

.about-page-section .section-divider {
  height: 0;
  border: 0;
  border-top: 1px solid #D0AEE2;
  margin: 100px auto 50px;
  max-width: 600px;
  width: 80%; }

@media only screen and (max-width: 719px) {
  .about-page-section {
    width: 90%;
    margin-left: 5%; }
    .about-page-section p {
      text-align: left; } }

.about-banner {
  background: url(../../images/banners/affiliates.jpg);
  background-size: cover; }

/*# sourceMappingURL=fapp.css.map */
