.article-header {
  margin-top: 80px;
  .article-header-category {
    margin: 50px 0 5px;
  }

  .article-header-title {
    font-size: 3em;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .article-header-date-and-contributor {
    margin-top: 5px;
    color: $text_grey;
    font-style: italic;
  }

  .social-sharing-icons {
    text-align: center;

    svg {
      height: 40px;
      width: 40px;
      margin: 5px;

      &:hover {
        .colour-stroke {
          stroke: $brand_soft_purple;
        }

        .colour-fill {
          fill: $brand_soft_purple;
        }
      }

      .colour-stroke {
        stroke: $brand_purple;
      }

      .colour-fill {
        fill: $brand_purple;
      }
    }
  }
}