.articles-banner {
  background: url(../../images/banners/articles.jpg);
  background-size: cover;
  background-position-y: 70%;
}

//.article-index-card:last-of-type {
//
//  @include respond-to(phone) { margin-right: 2em; }
//  margin-right: auto;
//}