.article-index-card {
  width: 250px;
  margin: 1em 2em;

  &:not(.leading) {
    width: 100%;
    border-top: 1px solid $brand_soft_purple;
    border-bottom: 1px solid $brand_soft_purple;
    padding: 10px 0;

    @include respond-to(phone) {
      .article-index-card-description {
        display: none;
      }

      .card-image-holder {
        display: none;
      }
    }
  }


  &.leading {
    @include respond-to(phone) { width: 40%; margin: 1em auto; }
  }


  .article-index-card-category {
    color: $brand-purple;
    margin: 0 0 4px 0;

    &:hover {
      color: $brand_soft_purple;
    }
  }

  .article-index-card-headline {
    margin: 4px 0 0;
  }

  .article-index-card-author {
    margin: 0 0 4px;

    &:hover {
      color: $brand_soft_purple;
    }
  }

  .article-index-card-description {
    color: $text_grey;
    line-height: 1.4;
    margin-top: 8px;

    @include respond-to(phone) { display: none; }
  }
}