.bio-card {
  width: 200px;
  margin: 3em 2em 0;
  display: flex;
  flex-direction: column;

  @include respond-to(phone) {
    //flex-direction: row;
    //flex-wrap: wrap;
    width: 95%;
    margin: 2em auto;
    align-items: center;

    .bio-card-name {
      order: 1;
      width: 100%;
      flex-basis: 100%;
      text-align: center;
    }

    p.bio-card-contributor-title {
      order: 2;
      width: 100%;
      flex-basis: 100%;
      margin: 0 0 20px 0;
      text-align: center;
    }

    .bio-image-and-link {
      order: 3;
      width: 25%;
      flex-basis: 25%;
    }

    .bio-card-bio {
      order: 4;
      width: 95%;
      flex-basis: 95%;
      text-align: center;
    }

    .profile-social-links {
      width: 100%;
      flex-basis: 100%;
      text-align: center;
    }
  }

  & > * {
    flex: 1;
    order: 5;
  }

  &:nth-child(1) {
    margin-top: 0;
  }
  &:nth-child(2) {
    margin-top: 0;
  }
  &:nth-child(3) {
    margin-top: 0;
  }

  .card-image-holder {
    width: 80%;
    padding-bottom: 80%;
    margin: 0 auto 20px;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: .2s;
    }
  }

  img {
    border-radius: 50%;
  }

  .bio-card-name {
    margin: 4px 0 0;
  }

  .bio-card-contributor-title {
    margin: 0;
    color: $brand_purple;
    font-style: italic;
    text-transform: capitalize;
  }

  .bio-card-bio {
    color: $text_grey;
    margin-top: 5px;
  }
}