.media-image-card {
  width: 200px;
  margin: 1em;

  &:last-of-type {
    margin-right: auto;
  }

  img {
    max-width: 100%;
  }

  .media-image-card-title {
    margin: 4px;
    margin-bottom: 0;
  }

  .media-image-card-contributor {
    margin: 4px;
    margin-top: 0;
    color: $brand-purple;
    font-style: italic;
  }

}