.gallery-banner {
  background: url(../../images/banners/gallery.jpg);
  background-size: cover;
}

.artworks-banner {
  background: url(../../images/banners/artworks.jpg);
  background-size: cover;
}

.photos-banner {
  background: url(../../images/banners/photos.jpg);
  background-size: cover;
  background-position-y: 70%;
}