.gallery-banner {
  background: url(../../images/banners/gallery.jpg);
  background-size: cover;
}

.artworks-banner {
  background: url(../../images/banners/art.jpg);
  background-size: cover;
}

.photos-banner {
  background: url(../../images/banners/photography.jpg);
  background-size: cover;
  background-position-y: 70%;
}