//colours

$primary_blue: #81CDBC;
$primary_dark: #40333E;
$soft_purple: #645258;
$primary_red: #EF6060;
$white: #ffffff;
$danger: #ff4850;
$eggshell: #edf0f2;

$brand_purple: #803EA0;
$brand_dark: #19191A;
$text_grey: #6A6C6E;

// Body
$body-bg: transparent;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger:  #bf5329;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 16px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: $brand_purple;
$navbar-inverse-bg: $brand_purple;
$navbar-inverse-color: $white;
$navbar-inverse-link-active-color: $white;
$navbar-inverse-link-color: $eggshell;
$navbar-border-radius: 0;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;


