.bios-banner {
  background: url(../../images/banners/bio.jpg);
  background-size: cover;
}

.contributions-listing {
  margin-bottom: 80px;
}

.bio-article-listing .section-title {
  margin: 0 auto;
}