.about-show-story {
  padding-bottom: 50px;

  .col-md-6 {
    text-align: center;
  }

  .section-divider {
    display: block;
    width: 600px;
    margin: 0 auto;
    margin-top: 40px;
    border-color: $brand_super_soft_purple;
  }

  .about-edit-button {
    display: block;
    width: 8em;
    text-align: center;
    margin: 0 auto 3em;
    color: $brand_purple;

    &:hover {
      color: $brand_soft_purple;
    }
  }
}