.article-author-component {
  background: $eggshell;
  border: 10px solid $white;
  padding: 0 15px 15px;

  .selectable-profile {
    display: inline-block;
    width: auto;
    vertical-align: top;
    margin-right: 10px;
    margin-bottom: 10px;


    .profile-intro-card {
      width: 380px;

      .profile-intro-card-text-box {
        padding-left: 5px;
      }
    }

    .profile-intro-card-name, .profile-intro-card-intro {
      width: 95%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .selectable-profile.selected {
    border: 2px solid $brand_purple;
    background: lighten($brand_purple, 40%);
  }

  .spinner > div {
    background: $text_grey;
  }
}