.article-category-selector {
  background: $eggshell;
  border: 10px solid $white;

  .category-choice {
    display: inline-block;
    margin: 1em 2em;

    .dd-checkbox-label::after {
      vertical-align: sub;
    }
  }

  .article-category-selector-footer {
    text-align: right;
    min-height: 40px;

    .spinner {
      width: 100px;
      margin-right: 20px;

      & > div {
        background: $brand_purple;
      }
    }
  }
}