.char-counting-input {

  .char-count-bar-outer {
    display: inline-block;
    width: 150px;
    height: 16px;
    border: 1px solid $eggshell;
    position: relative;
    border-radius: 3px;
  }

  .char-count-bar-inner {
    position: absolute;
    display: inline-block;
    height: 100%;
    background: $brand_soft_purple;
    top: 0;
    left: 0;

    &.lacking {
      background: darkorange;
    }

    &.sweetspot {
      background: mediumspringgreen;
    }

    &.overkill {
      background: $danger;
    }
  }

  .usage-notification-bar {
    padding-top: 10px;

    p {
      margin-bottom: 0;
    }
  }
}