.password-reset-header {
  padding-top: 100px;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 50px;

  p {
    max-width: 400px;
    margin: 0 auto;
  }
}

.password-form {

  .form-button {
    width: 100%;
  }
}