.profile-intro-card {
  display: flex;
  width: 400px;
  max-width: 100%;
  border: 1px solid $eggshell;
  padding: 15px;

  .profile-intro-card-avatar-box {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    width: 100px;

    img {
      width: 80px;
      display: block;
      margin: auto auto;
    }
  }

  .profile-intro-card-text-box {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    padding-left: 30px;
    width: calc(100% - 100px);

    .profile-intro-card-name {
      text-transform: uppercase;
    }
  }
}