.tag-manager-component {
  max-width: 1000px;
  margin: 0 auto;

  .tag-actions {
    margin: 50px 0;

    .dd-btn {
      margin: 1em;
    }
  }

  .tags-list {
    column-count: 3;
    column-gap: 40px;

    div.highlight {
      background: lighten($brand_purple, 50%);
    }

    .tag-name {
      display: inline-block;
      width: 200px;

      &.in-use {
        color: $brand_purple;
      }
    }

    .tag-row {
      margin: 10px 0;
    }
  }

  .tag-search-input {
    margin: 1em;
    border: 1px solid $brand_purple;
    height: 40px;
    line-height: 40px;
    padding-left: 5px;
    border-radius: 5px;
    display: inline-block;
    width: 200px;
  }
}